.cards {
    flex: 1;
    height: 91vh;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
}



.cards::-webkit-scrollbar {
    display: none;
}
