body.light {
    --background-color: #f0f0f0;
    --text-color: #0f0f0f;
    background-color: var(--background-color);
    color: var(--text-color);
    --image-filter: none;
    --alt-color: #d9d6d6;
}

body.dark {
    --background-color: #0f0f0f;
    --text-color: #ffffff;
    background-color: var(--background-color);
    color: var(--text-color);
    --image-filter: invert(1);
    --alt-color: #262929;
}
